<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/logado.css">
    <title>Neko Booking</title>
</head>
<body>
    <nav><a href="/index">
        <div class="logo">
            <img src="/images/logo.png" alt="Logo Neko" id="logo">
            <h2 id="nome_logo">Neko Booking</h2>
        </div> </a>
        <form action="#" method="post">
        
            <div class="pesquisa">
                <input type="text" name="search" class="inp_pesquisa">
                <input type="submit" value="" id="bt"> 
                <img src="/images/icon-search.png" alt="Icon Lupa" id="lupa">
            </div>

        </form>
        <div class="opcoes">
            <div class="perfil">
                <img class="menus" src="/images/profile.png" alt="icon_perfil">
            </div>
        </div>

        <div class="salve">
            <span>Olá {{nome}}. Seja bem vindo!</span>
        </div>
        <form action="#" method="post">
        <div class="overvil">
            <a href="/account"><div class="op">Minha Conta</div></a>
            <a href="/agendamentos"><div class="op">Agendamentos</div></a>
            <button type="submit" id="bt-sair"><div class="op">Sair</div></button>
        </div>
        </form>
    </nav>

    <div class="categoria">
        <a href="/index/filtragem/1"><div class="categorias">Barbearias</div> </a>
        <a href="/index/filtragem/2"><div class="categorias">Manicure e Pedicure</div> </a>
        <a href="/index/filtragem/3"><div class="categorias">Estética</div> </a>
        <a href="/index/filtragem/4"><div class="categorias">Cílios e Sobrancelhas</div> </a>
    </div>
    
    <div class="listagem">
        {{#if estabelecimento}}
        {{#each estabelecimento}}
            <div class="estabelecimentos2">
                <img src="/images/logos_estabelecimentos/{{this.logo}}" alt="Logo estabelecimento">
                <div class="estabelecimentos">
                    <p class="titu">{{this.nome_barbearia}}</p>
                    <p class="">{{this.endereco.rua}}, {{this.endereco.complemento}}, N° {{this.endereco.numero}}. {{this.endereco.bairro}}</p>
                    <p>{{this.categoria}}</p>

                </div>
            </div>
        {{/each}}
        {{/if}}
    </div>
</body>
<script src="/scripts/config.js"> </script>

</html>